
@import '../node_modules/@striblab/strib-styles/source/styles/default.scss';

.output,
.controls {
  height: 100vh;
  float: left;
}

.output {
  width: 66.66665%;
  background-color: #282820;
  position: relative;
  z-index: -99;
}

.controls {
  width: 33.33332%;
  overflow-y: auto;
  border-left: 1px solid map-get($grays, 'medium');
  z-index: 99;
}

.output-inner,
.controls-inner {
  padding: 1em;
}

.output-preview {
  background-color: transparent;

  object-fit: contain;
  height: 100%;
  width: 100%;
  max-height: 90vh;
}

.app-messages {
  text-align: center;
  color: $color-white;
  font-size: 0.85em;
}

h1 {
  font-size: 2em;
  margin-top: 0;
  padding: 0;
  margin-bottom: 0.5em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  margin-top: 0;
  padding: 0;
  margin-bottom: 0.5em;
  font-weight: bold;
}


form {
  button,
  a[role="button"],
  a.button,
  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  .button {
    padding: 0.5em 0.5em;
  }

  input ~ small,
  select ~ small,
  textarea ~ small {
    margin-top: -1 * $spacer;
    margin-bottom: $spacer / 0.85;
  }

  input[type="range"],
  input[type="range"]:not([type="submit"]):not([type="reset"]):not([type="button"]) {
    border: none;
    padding: 0;
  }
}

.button-group {
  font-size: 0.85em;
  margin-bottom: 1em;

  &.button-group-small {
    font-size: 0.65em;
  }

  button {
    display: inline-block;
    margin-right: 0.5em;
    margin-bottom: 0.25em;
  }
}

.form-element-inline {
  display: flex;
  margin-bottom: 1em;

  label,
  input {
    // :(
    margin: 0 !important;
  }

  label {
    white-space: nowrap;
    padding-right: 1em;
  }

  .inline-value-output {
    display: inline-block;
    padding-left: 0.85em;
    font-size: 0.85em;
  }

  & ~ small {
    margin-top: -1em;
  }
}

.input-component {
  margin-bottom: 1em;
}

.color-picker {
  .color {
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    margin-right: 0.5em;
    cursor: pointer;

    &.is-white {
      outline: 1px solid $color-black;
    }

    &.active {
      outline: none;
      box-shadow: 0 0 0 0.2rem rgba($color-black, 0.3);
    }
  }
}

.file-upload-container {
  border: 3px dashed map-get($grays, 'medium');
  border-radius: 0.5em;
  font-style: italic;
  font-size: 0.85em;
  padding: 2em 1em;
  text-align: center;
  margin-bottom: 1.25em;
  background-color: map-get($grays, 'lighter');

  &.drag-over {
    background-color: $color-white;
  }
}

.download-placeholder,
.preload-images {
  display: none;
}
