
@import '../node_modules/strib-styles/source/styles/default.scss';

.output,
.controls {
  height: 100vh;
  float: left;
}

.output {
  width: 66.66665%;
  background-color: map-get($grays, 'darker');
  position: relative;
  z-index: -99;
}

.controls {
  width: 33.33332%;
  overflow-y: auto;
  border-left: 1px solid map-get($grays, 'medium');
  z-index: 99;
}

.output-inner,
.controls-inner {
  padding: 1em;
}

.output-preview {
  background-color: transparent;

  object-fit: contain;
  height: 100%;
  width: 100%;
  max-height: 90vh;
}

.button-group {
  font-size: 0.5em;
  margin-bottom: 2em;

  button {
    display: inline-block;
    margin-right: 0.5em;
  }
}

.form-element-inline {
  display: flex;
  margin-bottom: 1em;

  label,
  input {
    // :(
    margin: 0 !important;
  }

  label {
    white-space: nowrap;
    padding-right: 1em;
  }
}

.input-component {
  margin-bottom: 1em;
}

.color-picker {
  .color {
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    margin-right: 0.5em;
    cursor: pointer;

    &.is-white {
      outline: 1px solid $color-black;
    }

    &.active {
      outline: none;
      box-shadow: 0 0 0 0.2rem rgba($color-black, 0.3);
    }
  }
}

.download-placeholder,
.preload-images {
  display: none;
}
